.disclaimer{
    .disclaimerBody{
        .privacy{
            margin-top: 20px;
            h4{
                font-size: 22px;
                font-weight: 400;
                color: #6439ff;
            }
        }
    }
}